<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/marijuana.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpMessage}}</p>
    </div>
    {{>footer}}
</body>

</html> 